/* .bg-primary adds background color and grids with dot */
/* .bg-primary covers entire wrapper header nav and section.hero */

.bg-primary {
  --off-set: 10px;
  background-color: var(--color-primary-80);
  background-image: radial-gradient(
      circle,
      var(--color-primary) 3px,
      transparent 0px
    ),
    linear-gradient(var(--color-primary) 1.5px, transparent 0px),
    linear-gradient(90deg, var(--color-primary) 1.5px, transparent 0px);
  background-size: 80px 55px;
  background-position: calc(40.75px + var(--off-set))
      calc(28.25px + var(--off-set)),
    var(--off-set) var(--off-set), var(--off-set) var(--off-set);
  border: 0.01px solid transparent; /* transparent border to apply margin to section */
}

.bg-primary--dark {
  background-color: var(--color-primary-90);
}

.bg-pure-white {
  background-color: var(--color-pure-white);
  border: 0.01px solid transparent; /* transparent border to apply margin to section */
}
