/* Big Media Card */

.big-media-card {
  background-color: var(--color-pure-white);
  border: var(--border);
  border-radius: 3rem;
  padding: 3rem;
}

.big-media-card__header {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: var(--border);
}

.big-media-card__header__heading {
  margin-bottom: 1rem;
}

.big-media-card__body {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  margin: 0 3rem;
  gap: 3rem 5rem;
}

.big-media-card__body__image img {
  border-radius: 3rem;
}

.big-media-card__body.float-img-right .big-media-card__body__image {
  order: 2;
}

.big-media-card__body__content {
}

@media screen and (max-width: 1025px) {
  .big-media-card__body {
    grid-template-columns: 40% 60%;
  }

  .big-media-card__body.float-img-right {
    grid-template-columns: 60% 40%;
  }
}

@media screen and (max-width: 900px) {
  .big-media-card__body {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .big-media-card__body.float-img-right {
    grid-template-columns: 1fr;
  }

  .big-media-card__body.float-img-right .big-media-card__body__image {
    order: 0;
  }

  .big-media-card__body__image img {
    max-width: 40rem;
  }

  .big-media-card__body__image {
    display: grid;
    justify-content: center;
    align-items: center;
  }
}
