/* Buttons */

.btn {
  width: 22.4rem;
  height: 5.6rem;
  background-color: var(--color-pure-white);
  color: var(--color-dark);
  border: var(--border);
  border-radius: 5.6rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.75rem;
  padding-left: 2.8rem;
  transition: border 0.3s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  border: var(--border-hover);
}

.btn:hover .icon {
  animation: shake 0.5s ease-in-out infinite;
  animation-delay: 0.3s;
}

/* Small Buttons */

.btn.small {
  width: 14rem;
}

/* Buttons with left icon */

.btn.left-icon .icon-container {
  order: -1;
}

.btn.left-icon {
  padding-right: 2.8rem;
  padding-left: 0.75rem;
}

/* Buttons with dark background */

.btn.dark {
  background-color: var(--color-dark-15);
}

.btn.dark .icon-container {
  background-color: var(--color-secondary);
}

/* Two buttons grouped together */

.btn-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  container-type: inline-size;
  container-name: btn-group;
}

@container btn-group (max-width: 45.8rem) {
  /* width = (22.4rem of button 1) + (1rem of flex-gap) + (22.4rem button) = 45.8rem
  Checks the container width to fit 2 buttons in a row */
  .btn-group a {
    flex-grow: 1;
    display: flex;
  }

  .btn-group .btn {
    flex-grow: 1;
  }
}

.plain-btn {
  margin: auto;
  height: 6rem;
  border-radius: 1rem;
  border: var(--border);
  background-color: var(--color-pure-white);
  color: var(--color-dark);
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plain-btn:hover {
  cursor: pointer;
  border: var(--border-hover);
  transform: translateY(-2px);
}

.plain-btn.primary {
  max-width: 28rem;
  background-color: var(--color-primary);
  text-align: center;
}

.plain-btn.secondary {
  max-width: 38rem;
  background-color: var(--color-secondary);
  text-align: center;
}
