/* Buttons */

.btn {
  width: 22.4rem;
  height: 5.6rem;
  background-color: var(--color-pure-white);
  border: var(--border);
  border-radius: 5.6rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.75rem;
  padding-left: 2.8rem;
  transform: border 0.3s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  border: var(--border-hover);
}

.btn:hover .icon {
  animation: shake 0.5s ease-in-out infinite;
  animation-delay: 0.3s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  50%,
  90% {
    transform: translateX(-1px);
  }
  30%,
  70% {
    transform: translateX(1px);
  }
}

/* Two buttons grouped together */

.btn-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-content: stretch;
  container-type: inline-size;
  container-name: btn-group;
}

@container btn-group (max-width: 45.8rem) {
  /* width = (22.4rem of button 1) + (1rem of flex-gap) + (22.4rem button) = 45.8rem
  Checks the container width to fit 2 buttons in a row */
  .btn-group .btn {
    flex-grow: 1;
  }
}
