:root {
  --color-primary: rgb(255, 214, 241);
  --color-secondary: rgb(215, 255, 233);
  --color-dark: rgb(38, 41, 47);
  --color-dark-15: rgba(38, 41, 47, 0.15);
  --color-dark-25: rgba(38, 41, 47, 0.25);
  --color-dark-50: rgba(38, 41, 47, 0.5);
  --color-white: rgb(251, 251, 247);
  --color-pure-white: rgb(255, 255, 255);
  --color-error: rgb(240, 68, 56);
  --color-warning: rgb(247, 144, 9);
}
