/* CALL TO ACTION Media Card */
.cta-media-card.primary {
  background-color: var(--color-primary);
}

.cta-media-card.secondary {
  background-color: var(--color-secondary);
}

.cta-media-card {
  padding: 1rem;
  border-radius: 3rem;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
}

.cta-media-card.secondary .cta-media-card__image {
  order: 2;
}

.cta-media-card__image {
  line-height: 0; /* Removes extra unwanted space at bottom */
}

.cta-media-card__image img {
  border-radius: 3rem;
}

.cta-media-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 5rem;
}

.cta-media-card__content__heading {
  margin-bottom: 3rem;
}

.cta-media-card__content__text {
  margin-bottom: 3rem;
}

.cta-media-card__content__cta {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.cta-media-card__content__btn {
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .cta-media-card.primary {
    grid-template-columns: 40% 60%;
  }

  .cta-media-card.secondary {
    grid-template-columns: 60% 40%;
  }
}

@media screen and (max-width: 900px) {
  .cta-media-card {
    grid-template-columns: 1fr;
  }

  .cta-media-card.primary {
    grid-template-columns: 1fr;
  }

  .cta-media-card.secondary {
    grid-template-columns: 1fr;
  }

  .cta-media-card.secondary .cta-media-card__image {
    order: 0;
  }

  .cta-media-card__content {
    padding: 5vw 3vw;
  }
}
