/* FAQ Card */

.faq-card {
  border: var(--border);
  border-radius: 3rem;
  padding: 3rem;
  margin: 1rem;
}

.faq-card__header {
  display: flex;
  align-items: center;
}

.faq-card__title {
  flex-grow: 1;
}

.faq-card__toggle-icon {
  content: var(--icon-plus);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  border: var(--border);
  border-radius: 3rem;
  padding: 0.8rem;
  margin-left: 2rem;
}

.faq-card__toggle-icon:hover {
  cursor: pointer;
  border: var(--border-hover);
}

.faq-card__body {
  border-top: var(--border);
}

.faq-card__text {
  margin-top: 3rem;
}

/* collapsible on expanded additional styles */

.collapsible--expanded .faq-card__body {
  margin-top: 3rem;
}

.collapsible--expanded .faq-card__toggle-icon {
  content: var(--icon-minus);
}
