.faq-badge {
  padding: 1.3rem 3rem;
  border: 1px solid var(--color-dark-15);
  border-radius: 5rem;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-dark-50);
  margin: 1rem;
}

.faq-badge:hover {
  cursor: pointer;
}

.faq-active-badge {
  background-color: var(--color-pure-white);
  color: var(--color-dark);
}
