/* FAQ Block */

.faq-block {
}

.faq-badges {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

/* .faq-badge is separate component, hence not included here */

.faq-content {
}

.faq-content__cards {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0.2s;
}

.faq-content__cards.active {
  max-height: 100%;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .faq-badges {
    margin-bottom: 3rem;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    scrollbar-width: none;
  }

  .faq-badges .faq-badge {
    flex-shrink: 0;
  }
}
