/* FAQ Badge */

.faq-badge {
  padding: 1.3rem 3rem;
  border: var(--border);
  border-radius: 5rem;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-dark-50);
  margin: 1rem;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
    border 0s ease-in-out;
}

.faq-badge:hover {
  cursor: pointer;
  border: var(--border-hover);
  color: var(--color-dark-75);
}

.faq-badge.active {
  background-color: var(--color-pure-white);
  color: var(--color-dark);
}
