/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}

.footer__logo {
  height: 6rem;
  width: 20rem;
}

.footer__menu {
  margin: 5rem 0;
}

.footer__list {
  display: flex;
  gap: 2rem;
}

.footer__list-item {
}

.footer__social {
  display: flex;
}

.footer__social-icon {
  margin: 0 0.5rem;
}

.footer__copyright {
  text-align: center;
  padding: 2rem 0;
  border-top: var(--border);
}
