/* Form */
/* grid enabled with no rows and columns, basic styling applied */

form {
  display: grid;
  gap: 2rem 3rem;
  max-width: 85rem;
  margin: 0 auto;
}

label {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--color-dark);
}

label > * {
  background-color: var(--color-pure-white);
  border: 0;
  border-radius: 1rem;
  font-size: 1.6rem;
  padding: 2rem;
  width: 100%;
  margin-top: 0.8rem;
}

form ::placeholder {
  color: var(--color-dark-50);
}

label > *:focus {
  outline: var(--outline-focus);
}

label > *:not(:placeholder-shown):invalid {
  outline-color: var(--color-error);
}

textarea {
  resize: none;
}

form button {
  margin-top: 5rem;
  justify-self: center;
}

select {
  appearance: none;
}

select {
  color: var(--color-dark-50);
}

/* When <select> has a value then class="selected" is applied by JS */
select.selected {
  color: var(--color-dark);
}

label.drop {
  position: relative;
}

label.drop::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  mask: var(--icon-drop) no-repeat center / contain;
  background-color: var(--color-dark-50);
  position: absolute;
  top: 50%;
  right: 5px;
}
