/* List */
.list__item {
  display: flex;
  align-items: center;
  margin: 3rem 0;
}

.list__item::before {
  content: var(--icon-tick);
  background-color: var(--color-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  padding-top: 0.3rem;
  margin-right: 2rem;
}
