/* Media Card */

.media-card {
  background-color: var(--color-pure-white);
  border: var(--border);
  border-radius: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
}

.media-card__img {
  margin-right: 2rem;
}
.media-card__content {
}
