/* Media Card Grid Display */

.media-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2vw;
  container-type: inline-size;
  container-name: media-card-grid;
}

/* grid at 2 columns changes the order to match the primary and secondary icons coloring */

@container media-card-grid (max-width: calc(900px + 4vw)) and (min-width: calc(600px + 2vw)) {
  .media-card-grid > :nth-child(2) {
    order: -1;
  }

  .media-card-grid > :nth-child(5) {
    order: 6;
  }
}

@media screen and (max-width: 500px) {
  .media-card-grid {
    gap: 1rem;
  }
}
