/* Media Card Grid Display */

.media-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2vw;
  width: 100%;
}

/* 
grid at 2 columns changes the order to match the primary and secondary icons coloring

actual width of the .media-card-grid is 76.66667 vw which is coming from .wrapper
calc @ 1183 -> 2 column starts .media-card-grid can no longer fits 3 columns of 300px hence the max-width
calc @ 750 -> 2 column ends .media-card-grid at max width to fit 2 columns hence the min-width
*/

@media screen and (max-width: 1183px) and (min-width: 750px) {
  .media-card-grid > :nth-child(2) {
    order: -1;
  }

  .media-card-grid > :nth-child(5) {
    order: 6;
  }
}

@media screen and (max-width: 500px) {
  .media-card-grid {
    gap: 1rem;
  }
}
