/* Removing unwanted styles and setting ready for New Style */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

li {
  list-style: none;
}

body {
  background-color: var(--color-white);
}

section {
  margin: 12rem 0;
}

@media screen and (max-width: 900px) {
  section {
    margin: 8rem 0;
  }
}

@media screen and (max-width: 650px) {
  section {
    margin: 5rem 0;
  }
}
