/* Hero Section */

.hero-bg {
  border-bottom: 0;
}

.hero__images {
  display: inline-flex;
  width: 90vw;
  gap: 1.5rem;
  align-items: last baseline;
  position: relative;
  bottom: -0.3rem;
}

.hero__images img {
  border-radius: 20px 20px 0 0;
}

.hero__image__left,
.hero__image__center,
.hero__image__right {
  border-radius: 30px 30px 0px 0px;
  border-top: var(--hero-border);
  border-right: var(--hero-border);
  border-left: var(--hero-border);
  box-shadow: var(--hero-box-shadow);
  line-height: 0;
}

.hero__image__left {
  width: 30%;
}

.hero__image__center {
  width: 40%;
}

.hero__image__right {
  width: 30%;
}

@media screen and (max-width: 900px) {
  .bg-primary {
    box-shadow: none;
  }

  .hero__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    position: static;
  }

  .hero__images img {
    border-radius: 25px;
  }

  .hero__image__left,
  .hero__image__center,
  .hero__image__right {
    border-radius: 30px;
    border: var(--hero-border-small);
    line-height: 0;
  }

  .hero__image__center {
    order: -1;
    width: 100%;
    grid-column: 1/-1;
  }

  .hero__image__left {
    width: 100%;
  }

  .hero__image__right {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .hero .plain-badge {
    font-size: 1.2rem;
  }

  .hero__heading {
    font-size: 3rem;
  }
}
