/* ALL SECTION LAYOUT MARGIN & ALIGNMENT */

/* ------------------------- SECTIONS ------------------------- */

section,
section.wrapper {
  margin-top: 12rem;
  margin-bottom: 12rem;
}

@media screen and (max-width: 900px) {
  section,
  section.wrapper {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

@media screen and (max-width: 650px) {
  section,
  section.wrapper {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

/* only for hero on screen sizes less then 900px wide */

@media screen and (max-width: 900px) {
  section.hero {
    padding-bottom: 5rem;
  }
}

/* ------------------------- TEXT & BUTTONS ALIGNMENT CONTROL ------------------------- */

/* ----- Headings ----- */
#hero h1,
#problems h2,
#solution-cta h2,
#solution-customer-retention h2,
#pricing h2,
#testimonial h2,
#faq h2 {
  text-align: center;
}

@media screen and (max-width: 1250px) {
  #intro h2 {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  #steps h2,
  #solution-clients-achievement h2 {
    text-align: center;
  }
}

/* ----- Texts ----- */

#hero,
#hero .hero__message,
#hero .hero__cta {
  text-align: center;
}

#pricing .heading__description,
#pricing .pricing__description,
#pricing .pricing__cta {
  text-align: center;
}

#faq .faq__cta {
  text-align: center;
}

@media screen and (max-width: 1250px) {
  #intro .intro__content__cta {
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  #steps .steps__description {
    text-align: center;
  }
}

/* ----- Buttons ----- */

#hero .btn-group,
#solution-customer-retention .btn-group,
#pricing .btn-group,
#faq .btn-group {
  justify-content: center;
}

@media screen and (max-width: 1250px) {
  #intro .btn-group {
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  #solution-clients-achievement .btn-group,
  #steps .btn-group {
    justify-content: center;
  }
}

/* ------------------------- SECTION HEADING MARGIN CONTROL------------------------- */

/* ----- Headings that are aligned left ----- */

#intro h2,
#solution-clients-achievement h2,
#steps h2 {
  margin-bottom: 5rem;
}

@media screen and (max-width: 900px) {
  #intro h2,
  #solution-clients-achievement h2,
  #steps h2 {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 650px) {
  #intro h2,
  #solution-clients-achievement h2,
  #steps h2 {
    margin-bottom: 3rem;
  }
}

/* ----- Headings that are aligned center ----- */

#problems h2,
#solution-cta h2,
#solution-customer-retention h2,
#testimonial h2,
#faq h2 {
  margin-bottom: 12rem;
}

@media screen and (max-width: 900px) {
  #problems h2,
  #solution-cta h2,
  #solution-customer-retention h2,
  #testimonial h2,
  #faq h2 {
    margin-bottom: 8rem;
  }
}

@media screen and (max-width: 650px) {
  #problems h2,
  #solution-cta h2,
  #solution-customer-retention h2,
  #testimonial h2,
  #faq h2 {
    margin-bottom: 5rem;
  }
}

/* ----- Headings with description below ----- */

#pricing h2 {
  margin-bottom: 4rem;
}

#pricing .heading__description {
  margin-bottom: 8rem;
}

@media screen and (max-width: 900px) {
  #pricing h2 {
    margin-bottom: 3rem;
  }

  #pricing .heading__description {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 650px) {
  #pricing h2 {
    margin-bottom: 2rem;
  }

  #pricing .heading__description {
    margin-bottom: 3rem;
  }
}

/* ------------------------- SECTION CONTENT MARGIN CONTROL ------------------------- */

/* ------ CONTENT CATEGORY: bottom margin 2rem on all view width's ------ */
/* ------------------------ [2rem ALL WIDTH] ------------------------ */

#pricing .pricing__description {
  margin-bottom: 2rem;
}

/* ----- CONTENT CATEGORY: bottom margin 3rem on all view width's ------ */
/* ------------------------ [3rem ALL WIDTH] ------------------------ */

#hero .plain-badge,
#hero .hero__heading,
#hero .hero__message,
#hero .hero__cta {
  margin-bottom: 3rem;
}

#intro .intro__content__media-cards,
#intro .intro__content__cta,
#intro .btn-group {
  margin-bottom: 3rem;
}

#solution-clients-achievement .achievements__header,
#solution-clients-achievement .achievements__description,
#solution-clients-achievement .btn-group {
  margin-bottom: 3rem;
}

#steps .steps__description {
  margin-bottom: 3rem;
}

/* ------ CONTENT CATEGORY: bottom & top margin 5rem on all view width ------ */
/* ------------------------ [5 + 5 rem ALL WIDTH] ------------------------ */

#steps .btn-group {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#steps .steps__body {
  margin-bottom: 2rem;
  /* to be read along with above style
  bottom margin is added to keep the cads aligned with buttons */
}

#pricing .btn-group {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* ------ CONTENT CATEGORY: bottom margin 3rem to 2rem to 1rem ------ */
/* ------------------------ [3 - 2 - 1] ------------------------ */

#problems .big-media-card {
  margin-bottom: 3rem;
}

#solution-cta .cta-media-card {
  margin-bottom: 3rem;
}

#steps .step-card {
  margin-bottom: 3rem;
}

#pricing .table {
  margin-bottom: 3rem;
}

@media screen and (max-width: 900px) {
  #problems .big-media-card {
    margin-bottom: 2rem;
  }

  #solution-cta .cta-media-card {
    margin-bottom: 2rem;
  }

  #steps .step-card {
    margin-bottom: 2rem;
  }

  #pricing .table {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 650px) {
  #problems .big-media-card {
    margin-bottom: 1rem;
  }

  #solution-cta .cta-media-card {
    margin-bottom: 1rem;
  }

  #steps .step-card {
    margin-bottom: 1rem;
  }

  #pricing .table {
    margin-bottom: 1rem;
  }
}

/* ------ CONTENT CATEGORY: bottom margin 5rem to 4rem to 3rem ------ */
/* ------------------------ [5 - 4 - 3] ------------------------ */

#solution-customer-retention .info-graph-grid {
  margin-bottom: 5rem;
}

#faq .faq-block,
#faq .faq__cta {
  margin-bottom: 5rem;
}

@media screen and (max-width: 900px) {
  #solution-customer-retention .info-graph-grid {
    margin-bottom: 4rem;
  }

  #faq .faq-block,
  #faq .faq__cta {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 650px) {
  #solution-customer-retention .info-graph-grid {
    margin-bottom: 3rem;
  }

  #faq .faq-block,
  #faq .faq__cta {
    margin-bottom: 3rem;
  }
}

/* ------ CONTENT CATEGORY: bottom & top margin 5rem to 4rem to 3rem ------ */
/* ------------------------ [(5 + 5) - (4 + 4) - (3 + 3)] ------------------------ */

#hero .btn-group {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#pricing .btn-group {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 900px) {
  #hero .btn-group {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  #pricing .btn-group {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 650px) {
  #hero .btn-group {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  #pricing .btn-group {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
