/* Section Intro */

.intro {
  display: grid;
  grid-template-columns: 60% 1fr;
  gap: 5rem;
}

.intro__content__media-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* .container--intro__images used here to keep it centered inside .intro grid */

.container--intro__images {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.intro__images__img {
  line-height: 0;
  margin: 1rem;
  background-color: var(--color-dark-15);
  padding: 0.5rem;
  border-radius: 2rem;
}

.intro__images__img img {
  border-radius: 1.5rem;
}

.intro__images__img:nth-of-type(1) {
  grid-column: 1/-1;
}

@media screen and (max-width: 1250px) {
  .intro {
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .intro__content__media-cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .intro__content__media-cards > :nth-child(3) {
    order: 1;
  }
}
