/* Hero Section */

/* .bg-primary adds background color and grids with dot */
/* .bg-primary covers entire wrapper header nav and section.hero */
.bg-primary {
  padding-top: 3rem;
  background-color: var(--color-primary-50);
  background-image: radial-gradient(
      circle,
      var(--color-primary) 3px,
      transparent 0px
    ),
    linear-gradient(var(--color-primary) 1.5px, transparent 0px),
    linear-gradient(90deg, var(--color-primary) 1.5px, transparent 0px);
  background-size: 80px 55px;
  background-position: 40.75px 28.25px, 0 0, 0 0;
  box-shadow: var(--hero-box-shadow);
}

.hero {
  text-align: center; /* to get all the div with texts to center */
}

.hero .plain-badge {
  margin-top: 8rem;
}

.hero__heading {
  margin-top: 3rem;
}

.hero__message {
  margin-top: 3rem;
}

.hero__cta {
  margin-top: 3rem;
}

.hero .btn-group {
  display: block;
  margin: 5rem auto;
}

.hero .btn {
  margin: 0.5rem;
}

.hero__images {
  display: inline-flex;
  width: 90vw;
  gap: 1.5rem;
  align-items: last baseline;
  position: relative;
  bottom: -0.3rem;
}

.hero__images img {
  border-radius: 20px 20px 0 0;
}

.hero__image__left,
.hero__image__center,
.hero__image__right {
  border-radius: 30px 30px 0px 0px;
  border-top: var(--hero-border);
  border-right: var(--hero-border);
  border-left: var(--hero-border);
  box-shadow: var(--hero-box-shadow);
  line-height: 0;
}

.hero__image__left {
  width: 30%;
}

.hero__image__center {
  width: 40%;
}

.hero__image__right {
  width: 30%;
}

@media screen and (max-width: 900px) {
  .bg-primary {
    padding-bottom: 3rem;
    box-shadow: none;
  }

  .hero .plain-badge {
    margin-top: 5rem;
  }

  .hero__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    position: static;
  }

  .hero__images img {
    border-radius: 25px;
  }

  .hero__image__left,
  .hero__image__center,
  .hero__image__right {
    border-radius: 30px;
    border: var(--hero-border-small);
    line-height: 0;
  }

  .hero__image__center {
    order: -1;
    width: 100%;
    grid-column: 1/-1;
  }

  .hero__image__left {
    width: 100%;
  }

  .hero__image__right {
    width: 100%;
  }

  .hero .btn-group {
    display: block;
    margin: 3rem auto;
  }
}

@media screen and (max-width: 425px) {
  .hero .plain-badge {
    margin-top: 3rem;
    font-size: 1.2rem;
  }

  .hero__heading {
    font-size: 3rem;
  }
}
