/* Section Solutions Client's Achievement */

.bg-pure-white {
  background-color: var(--color-pure-white);
  border: 0.01px solid transparent; /* transparent border to apply margin to section */
}

.achievements__header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 5rem;
}

.achievements__header h2 {
  grid-row: 1/3;
}

.achievements__header .btn-group {
  grid-column: 2/3;
}

@media screen and (max-width: 900px) {
  .achievements__header {
    grid-template-columns: 1fr;
  }

  .achievements__header .btn-group {
    grid-column: auto;
  }
}
