/* Sign Up */

.sign-up-container {
  min-width: 100vw;
  min-height: 100vh;
  padding: 10vh 2rem 0;
}

.sign-up__heading {
  text-align: center;
  margin-bottom: 1rem;
}

.sign-up__caption {
  text-align: center;
  margin-bottom: 5rem;
}

@media screen and (min-width: 650px) {
  .sign-up-form {
    grid-template-columns: 1fr 1fr;
  }

  .sign-up-form :nth-child(3),
  .sign-up-form :nth-child(4) {
    grid-column: 1/3;
  }
}
