/* Table */

.table {
  background-color: var(--color-primary);
  border-radius: 3rem;
  padding: 1rem;
}

.table__heading {
  margin: 2rem 0 3rem 0;
  text-align: center;
}

.table__row {
  background-color: var(--color-pure-white);
  border-radius: 2rem;
  padding: 2rem 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1rem;
}

.table__cell {
  margin-bottom: 2rem;
}

.cell__label {
  margin-bottom: 1rem;
}

.cell__data {
  font-size: 1.8rem;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .table__row {
    grid-template-columns: 1fr;
  }
}
