<svg class="icon">
  <use href="./assets/icons/sprite.svg#arrow-right"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#arrow-left"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#call"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#cup"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#chart"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#customers"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#dollar"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#heart"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#email"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#increase"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#long-arrow-right"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#menu"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#minus"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#plus"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#referrals"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#repeat"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#tick"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#Facebook"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#Instagram"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#Linkedin"></use>
</svg>
<svg class="icon">
  <use href="./assets/icons/sprite.svg#Pinterest"></use>
</svg>
