<div class="big-media-card">
  <header class="big-media-card__header">
    <h3 class="big-media-card__header__heading">
      Costly Ads That Don't Convert Enough
    </h3>
    <p>
      Stop wasting money on ineffective digital ads and unread email campaigns
    </p>
  </header>
  <div class="big-media-card__body float-img-right">
    <div class="big-media-card__body__image">
      <picture data-aos="">
        <source
          type="image/webp"
          srcset="
            ./assets/images/costly-ads-that-do-not-convert-enough.webp    1x,
            ./assets/images/costly-ads-that-do-not-convert-enough@2x.webp 2x,
            ./assets/images/costly-ads-that-do-not-convert-enough@3x.webp 3x
          "
        />
        <source
          type="image/jpg"
          srcset="
            ./assets/images/costly-ads-that-do-not-convert-enough.jpg    1x,
            ./assets/images/costly-ads-that-do-not-convert-enough@2x.jpg 2x,
            ./assets/images/costly-ads-that-do-not-convert-enough@3x.jpg 3x
          "
        />
        <img
          src="./assets/images/costly-ads-that-do-not-convert-enough@3x.jpg"
          alt=""
        />
      </picture>
    </div>
    <div class="big-media-card__body__content">
      <p class="FS-G-B-24-20">
        It's time to rediscover the power of tangible connections
      </p>
      <ul class="list">
        <li class="list__item">
          Consumers feel bombarded by constant digital ads and communication
        </li>
        <li class="list__item">
          Companies are spending more than ever on digital marketing,yet seeing
          diminishing returns
        </li>
        <li class="list__item">
          Stop wasting money on ineffective digital ads and unread email
          campaigns
        </li>
      </ul>
    </div>
  </div>
</div>
