<!-- Button Type 1: Get Started-->
<a href="">
  <button class="btn">
    Get Started
    <span class="icon-container round small primary">
      <svg class="icon">
        <use href="./assets/icons/sprite.svg#long-arrow-right"></use>
      </svg>
    </span>
  </button>
</a>

<!-- Button Type 2: Schedule a Call -->
<a href="">
  <button class="btn">
    Schedule a Call
    <span class="icon-container round small secondary">
      <svg class="icon">
        <use href="./assets/icons/sprite.svg#call"></use>
      </svg>
    </span>
  </button>
</a>

<!-- Button Group - Type 1 and Type 2 -->
<div class="btn-group">
  <a href="">
    <button class="btn">
      Get Started
      <span class="icon-container round small primary">
        <svg class="icon">
          <use href="./assets/icons/sprite.svg#long-arrow-right"></use>
        </svg>
      </span>
    </button>
  </a>
  <a href="">
    <button class="btn">
      Schedule a Call
      <span class="icon-container round small secondary">
        <svg class="icon">
          <use href="./assets/icons/sprite.svg#call"></use>
        </svg>
      </span>
    </button>
  </a>
</div>

<!-- Plain Button Type 1-->
<button class="plain-btn primary">
  <a href="">Place Order Interest</a>
</button>

<!-- Button Type 2 -->
<button class="plain-btn secondary">
  <a href=""> Sign Up for TPC 2.0 Updates </a>
</button>
