<button class="btn">
  Get Started
  <span
    class="icon-container icon-primary icon-container--round icon-container--small"
  >
    <svg class="icon">
      <use xlink:href="./assets/icons/sprite.svg#long-arrow-right"></use>
    </svg>
  </span>
</button>
<button class="btn">
  Schedule a Call
  <span
    class="icon-container icon-secondary icon-container--round icon-container--small"
  >
    <svg class="icon">
      <use xlink:href="./assets/icons/sprite.svg#call"></use>
    </svg>
  </span>
</button>

<!-- Button Group -->

<div class="btn-group">
  <button class="btn">
    Get Started
    <span
      class="icon-container icon-primary icon-container--round icon-container--small"
    >
      <svg class="icon">
        <use xlink:href="./assets/icons/sprite.svg#long-arrow-right"></use>
      </svg>
    </span>
  </button>
  <button class="btn">
    Schedule a Call
    <span
      class="icon-container icon-secondary icon-container--round icon-container--small"
    >
      <svg class="icon">
        <use xlink:href="./assets/icons/sprite.svg#call"></use>
      </svg>
    </span>
  </button>
</div>
