<!-- CALL TO ACTION Medial Card - Primary Type & Secondary Type -->
<div class="cta-media-card secondary">
  <!-- Class="primary" sets background color to primary and image position to left -->
  <!-- Class="secondary" sets background color to secondary and image position to right -->
  <div class="cta-media-card__image">
    <picture>
      <source
        type="image/webp"
        srcset="./assets/images/post-card-marketing-benefits.webp"
      />
      <source
        type="image/jpg"
        srcset="./assets/images/post-card-marketing-benefits.jpg"
      />
      <img src="./assets/images/post-card-marketing-benefits.jpg" alt="" />
    </picture>
  </div>
  <div class="cta-media-card__content">
    <h3 class="cta-media-card__content__heading cap">
      The Postal Company's <br />
      Postcard Solution
    </h3>
    <p class="cta-media-card__content__text">
      With our unique approach, we specialize in crafting personalized, tangible
      connections with your customers through beautifully designed postcards.
    </p>
    <p class="cta-media-card__content__cta">
      Turn prospects into loyal customers with postcards that deliver results
    </p>
    <div class="cta-media-card__content__btn">
      <div class="btn-group">
        <a href="">
          <div class="btn">
            Get Started
            <span class="icon-container round small primary">
              <svg class="icon">
                <use href="./assets/icons/sprite.svg#long-arrow-right"></use>
              </svg>
            </span>
          </div>
        </a>
        <a href="">
          <div class="btn">
            Schedule a Call
            <span class="icon-container round small secondary">
              <svg class="icon">
                <use href="./assets/icons/sprite.svg#call"></use>
              </svg>
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
