<div class="cta-media-card secondary">
  <div class="cta-media-card__image">
    <img
      src="./assets/images/the-postal-company-post-card-solutions@2x.webp"
      alt=""
    />
  </div>
  <div class="cta-media-card__content">
    <h3 class="cta-media-card__content__heading">
      The Postal Company's <br />
      Postcard Solution
    </h3>
    <p class="cta-media-card__content__text">
      With our unique approach, we specialize in crafting personalized, tangible
      connections with your customers through beautifully designed postcards.
    </p>
    <p class="cta-media-card__content__cta">
      Turn prospects into loyal customers with postcards that deliver results
    </p>
    <div class="cta-media-card__content__btn">
      <div class="btn-group">
        <button class="btn">
          Get Started
          <span
            class="icon-container icon-primary icon-container--round icon-container--small"
          >
            <svg class="icon">
              <use
                xlink:href="./assets/icons/sprite.svg#long-arrow-right"
              ></use>
            </svg>
          </span>
        </button>
        <button class="btn">
          Schedule a Call
          <span
            class="icon-container icon-secondary icon-container--round icon-container--small"
          >
            <svg class="icon">
              <use xlink:href="./assets/icons/sprite.svg#call"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
