<div class="faq-card collapsible collapsible--expanded">
  <header class="faq-card__header">
    <span class="faq-card__title FS-G-B-20-16"
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, qui?
    </span>
    <span class="faq-card__toggle-icon"></span>
  </header>
  <div class="faq-card__body collapsible__content">
    <p class="faq-card__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, omnis
      laboriosam? Iusto perspiciatis suscipit reiciendis ipsa fuga dolore
      consequuntur odio.
    </p>
  </div>
</div>
