<!-- Footer -->
<footer>
  <div class="footer">
    <div class="footer__logo">
      <img src="./assets/images/logo.svg" alt="The Postal Company Logo" />
    </div>
    <div class="footer__menu">
      <ul class="footer__list">
        <li class="footer__list-item cap"><a href="">Home</a></li>
        <li class="footer__list-item cap"><a href="">Solutions</a></li>
        <li class="footer__list-item cap"><a href="">Pricing</a></li>
        <li class="footer__list-item cap"><a href="">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer__social">
      <div class="footer__social-icon">
        <a href="">
          <span class="icon-container round transparent">
            <svg class="icon">
              <use href="./assets/icons/sprite.svg#Facebook"></use>
            </svg>
          </span>
        </a>
      </div>
      <div class="footer__social-icon">
        <a href="">
          <span class="icon-container round transparent">
            <svg class="icon">
              <use xlink:href="./assets/icons/sprite.svg#Instagram"></use>
            </svg>
          </span>
        </a>
      </div>
      <div class="footer__social-icon">
        <a href="">
          <span class="icon-container round transparent">
            <svg class="icon">
              <use xlink:href="./assets/icons/sprite.svg#Linkedin"></use>
            </svg>
          </span>
        </a>
      </div>
      <div class="footer__social-icon">
        <a href="">
          <span class="icon-container round transparent">
            <svg class="icon">
              <use xlink:href="./assets/icons/sprite.svg#Pinterest"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="footer__copyright">© 2025 The Postal Co. All rights reserved</div>
</footer>
