<!-- Landing Page Form -->
<form class="form-landing-page" action="" method="">
  <label>
    Name*
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Enter Your Name"
      required
      minlength="3"
    />
  </label>
  <label>
    <!-- "+91 " automatically inserted by javascript refer index.js -->
    Phone*
    <input
      type="tel"
      pattern="[0-9+ ]+"
      id="tel"
      name="phone"
      placeholder="Enter Your Phone Number"
      required
      minlength="14"
      maxlength="14"
    />
  </label>
  <label>
    Subject
    <input
      type="text"
      id="subject"
      name="subject"
      placeholder="Enter Subject"
      maxlength="100"
    />
  </label>
  <label>
    Message
    <textarea
      id="message"
      name="message"
      placeholder="Message..."
      rows="3"
      maxlength="350"
    ></textarea>
  </label>
  <a href="">
    <button type="submit" class="btn">
      Send Message
      <span class="icon-container round small primary">
        <svg class="icon">
          <use href="./assets/icons/sprite.svg#long-arrow-right"></use>
        </svg>
      </span>
    </button>
  </a>
</form>
