<!-- Glide: Testimonial Cards -->
<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide">
        <div class="testimonial-card">
          <div class="testimonial-card__testimony">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
              deserunt obcaecati nisi necessitatibus nobis natus.
            </p>
          </div>
          <div class="testimonial-card__author">
            <div class="testimonial-card__author-image">
              <img
                src="./assets/images/testmonial photos/jothi-lamba.jpeg"
                alt=""
              />
            </div>
            <div class="testimonial-card__author-details">
              <p class="testimonial-card__author-name">Jyoti Lamba</p>
              <p class="testimonial-card__author-designation">
                Marketing Director, Glow Essence Beauty
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="glide__slide">
        <div class="testimonial-card">
          <div class="testimonial-card__testimony">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
              deserunt obcaecati nisi necessitatibus nobis natus.
            </p>
          </div>
          <div class="testimonial-card__author">
            <div class="testimonial-card__author-image">
              <img
                src="./assets/images/testmonial photos/jothi-lamba.jpeg"
                alt=""
              />
            </div>
            <div class="testimonial-card__author-details">
              <p class="testimonial-card__author-name">Member 2</p>
              <p class="testimonial-card__author-designation">
                Marketing Director, Glow Essence Beauty
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="glide__slide">
        <div class="testimonial-card">
          <div class="testimonial-card__testimony">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
              deserunt obcaecati nisi necessitatibus nobis natus.
            </p>
          </div>
          <div class="testimonial-card__author">
            <div class="testimonial-card__author-image">
              <img
                src="./assets/images/testmonial photos/jothi-lamba.jpeg"
                alt=""
              />
            </div>
            <div class="testimonial-card__author-details">
              <p class="testimonial-card__author-name">Member 3</p>
              <p class="testimonial-card__author-designation">
                Marketing Director, Glow Essence Beauty
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="glide__slide">
        <div class="testimonial-card">
          <div class="testimonial-card__testimony">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
              deserunt obcaecati nisi necessitatibus nobis natus.
            </p>
          </div>
          <div class="testimonial-card__author">
            <div class="testimonial-card__author-image">
              <img
                src="./assets/images/testmonial photos/jothi-lamba.jpeg"
                alt=""
              />
            </div>
            <div class="testimonial-card__author-details">
              <p class="testimonial-card__author-name">Member 4</p>
              <p class="testimonial-card__author-designation">
                Marketing Director, Glow Essence Beauty
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="glide__slide">
        <div class="testimonial-card">
          <div class="testimonial-card__testimony">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
              deserunt obcaecati nisi necessitatibus nobis natus.
            </p>
          </div>
          <div class="testimonial-card__author">
            <div class="testimonial-card__author-image">
              <img
                src="./assets/images/testmonial photos/jothi-lamba.jpeg"
                alt=""
              />
            </div>
            <div class="testimonial-card__author-details">
              <p class="testimonial-card__author-name">Member 5</p>
              <p class="testimonial-card__author-designation">
                Marketing Director, Glow Essence Beauty
              </p>
            </div>
          </div>
        </div>
      </li>
      <li class="glide__slide">
        <div class="testimonial-card">
          <div class="testimonial-card__testimony">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
              deserunt obcaecati nisi necessitatibus nobis natus.
            </p>
          </div>
          <div class="testimonial-card__author">
            <div class="testimonial-card__author-image">
              <img
                src="./assets/images/testmonial photos/jothi-lamba.jpeg"
                alt=""
              />
            </div>
            <div class="testimonial-card__author-details">
              <p class="testimonial-card__author-name">Member 6</p>
              <p class="testimonial-card__author-designation">
                Marketing Director, Glow Essence Beauty
              </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
      <svg class="icon">
        <use href="./assets/icons/sprite.svg#arrow-left"></use>
      </svg>
    </button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
      <svg class="icon">
        <use href="./assets/icons/sprite.svg#arrow-right"></use>
      </svg>
    </button>
  </div>
</div>
