<svg>
  <use xlink:href="./assets/icons/sprite.svg#arrow-left"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#arrow-right"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#call"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#cup"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#chart"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#customers"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#dollar"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#heart"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#email"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#increase"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#long-arrow-right"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#minus"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#plus"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#referrals"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#repeat"></use></svg
><svg>
  <use xlink:href="./assets/icons/sprite.svg#tick"></use>
</svg>
