<!-- Icons -->
<!-- primary and secondary will change the background -->
<!-- round will make the border circle -->
<!-- small will make the icon smaller -->
<span class="icon-container primary">
  <svg class="icon">
    <use href="./assets/icons/sprite.svg#dollar"></use>
  </svg>
</span>
<span class="icon-container round small secondary">
  <svg class="icon">
    <use href="./assets/icons/sprite.svg#call"></use>
  </svg>
</span>
<span class="icon-container round primary">01</span>
<span class="icon-container round secondary">02</span>
