<!-- Info Header -->
<div class="info-header primary">
  <div class="info-header__icon-container">
    <svg class="info-header__icon">
      <use href="./assets/icons/sprite.svg#arrow-progress"></use>
    </svg>
  </div>
  <p class="info-header__heading FS-G-B-32 cap">How It Works</p>
  <p class="info-header__text">
    Due to overwhelming response to our market introduction, we're temporarily
    operating on an order interest system to ensure quality service for every
    customer.
  </p>
</div>
<!-- Info Header -->
<div class="info-header primary">
  <div class="info-header__icon-container">
    <svg class="info-header__icon">
      <use href="./assets/icons/sprite.svg#industry-windows"></use>
    </svg>
  </div>
  <p class="info-header__heading FS-G-B-32 cap">Our Current Situation</p>
  <p class="info-header__text">
    As a new boutique company, we launched with introductory offers and have
    been overwhelmed by the positive response. Our small facility is working at
    full capacity, which is why we've implemented this interest-based system to
    maintain our quality standards while we scale up operations.
  </p>
</div>
