<!-- Info Graphical Representation SVG Images -->
<div class="info-graph-grid">
  <div class="info-graph-grid__card">
    <picture data-aos="">
      <source
        type="image/svg+xml"
        srcset="
          ./assets/images/new-customer-acquisition-vs-existing-customer-retention.svg
        "
      />
      <img
        src="./assets/images/new-customer-acquisition-vs-existing-customer-retention.svg"
        alt=""
      />
    </picture>
  </div>
  <div class="info-graph-grid__card">
    <picture data-aos="">
      <source
        type="image/svg+xml"
        srcset="./assets/images/profits-of-customer-retention.svg"
      />
      <img src="./assets/images/profits-of-customer-retention.svg" alt="" />
    </picture>
  </div>
  <div class="info-graph-grid__card">
    <picture data-aos="">
      <source
        type="image/svg+xml"
        srcset="./assets/images/repeat-vs-new-customer-revenue.svg"
      />
      <img src="./assets/images/repeat-vs-new-customer-revenue.svg" alt="" />
    </picture>
  </div>
</div>
