<!-- List: Default Style -->
<ul class="list">
  <li class="list__item">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eos
    quae quam qui dolorem quos?
  </li>
  <li class="list__item">
    Quibusdam, autem totam. Quod voluptas, minus quibusdam mollitia eos
    assumenda asperiores quidem modi totam magni?
  </li>
  <li class="list__item">
    Quo dolorem fugiat velit sit obcaecati excepturi, ad at inventore quisquam
    placeat consequuntur dolores iure?
  </li>
</ul>
