<!-- Media Card Grid Display -->
<!-- auto fit as many card with width 300px -->
<div class="media-card-grid">
  <div class="media-card">
    <div class="media-card__img">
      <span class="icon-container primary">
        <svg class="icon">
          <use xlink:href="./assets/icons/sprite.svg#dollar"></use>
        </svg>
      </span>
    </div>
    <div class="media-card__content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere,
        consequatur?
      </p>
    </div>
  </div>
  <div class="media-card">
    <div class="media-card__img">
      <span class="icon-container primary">
        <svg class="icon">
          <use xlink:href="./assets/icons/sprite.svg#dollar"></use>
        </svg>
      </span>
    </div>
    <div class="media-card__content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere,
        consequatur?
      </p>
    </div>
  </div>
  <div class="media-card">
    <div class="media-card__img">
      <span class="icon-container primary">
        <svg class="icon">
          <use xlink:href="./assets/icons/sprite.svg#dollar"></use>
        </svg>
      </span>
    </div>
    <div class="media-card__content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere,
        consequatur?
      </p>
    </div>
  </div>
  <div class="media-card">
    <div class="media-card__img">
      <span class="icon-container primary">
        <svg class="icon">
          <use xlink:href="./assets/icons/sprite.svg#dollar"></use>
        </svg>
      </span>
    </div>
    <div class="media-card__content">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere,
        consequatur?
      </p>
    </div>
  </div>
</div>
