<!-- Multi Section Display on Click Skeleton -->
<!--
- javascript enabled reusable div structure as show below
- section-1 corresponds to section-1-content
- active classes are applied to both section-(No.) and section-(No.)-content
- faq.badge which is active gets its active style in css
- all section-(No.)-content are hidden and only active is displayed
-->
<div>
  <div id="section-1" class="sec-head active">1</div>
  <div id="section-2" class="sec-head">2</div>
  <div id="section-3" class="sec-head">3</div>
  <div id="section-4" class="sec-head">4</div>
  <div id="section-5" class="sec-head">5</div>
</div>
<div>
  <div id="section-1-content" class="sec-body active">Content-1</div>
  <div id="section-2-content" class="sec-body">Content-2</div>
  <div id="section-3-content" class="sec-body">Content-3</div>
  <div id="section-4-content" class="sec-body">Content-4</div>
  <div id="section-5-content" class="sec-body">Content-5</div>
</div>
