<!-- Navigation Bar -->
<!-- collapsible and collapsible__content are reusable class refer collapsible.css -->
<nav class="nav collapsible">
  <div class="nav__logo">
    <img src="./assets/images/logo.svg" alt="The Postal Company Logo" />
  </div>
  <button class="nav__toggler">
    <svg class="nav__icon">
      <use xlink:href="./assets/icons/sprite.svg#menu"></use>
    </svg>
  </button>
  <div class="nav__menu collapsible__content">
    <ul class="nav__list">
      <li class="nav__list__item nav__active"><a href="">Home</a></li>
      <li class="nav__list__item"><a href="">Solutions</a></li>
      <li class="nav__list__item"><a href="">Pricing</a></li>
      <li class="nav__list__item">
        <button class="nav__button">Get Started</button>
      </li>
    </ul>
  </div>
</nav>
