<!-- SECTION: PROBLEMS -->
<section id="problems" class="wrapper">
  <h2 class="cap">
    The Hard Truth About <br />
    Digital Marketing
  </h2>
  <!-- (1st) Big Media Card -->
  <div class="big-media-card">
    <header class="big-media-card__header">
      <h3 class="big-media-card__header__heading cap">
        <!-- cap will capitalize the text - for more see typography.css -->
        Costly Ads That Don't Convert Enough
      </h3>
      <p>
        Stop wasting money on ineffective digital ads and unread email campaigns
      </p>
    </header>
    <div class="big-media-card__body">
      <div class="big-media-card__body__image">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./assets/images/costly-ads-that-do-not-convert-enough.webp    1x,
              ./assets/images/costly-ads-that-do-not-convert-enough@2x.webp 2x,
              ./assets/images/costly-ads-that-do-not-convert-enough@3x.webp 3x
            "
          />
          <source
            type="image/jpg"
            srcset="
              ./assets/images/costly-ads-that-do-not-convert-enough.jpg    1x,
              ./assets/images/costly-ads-that-do-not-convert-enough@2x.jpg 2x,
              ./assets/images/costly-ads-that-do-not-convert-enough@3x.jpg 3x
            "
          />
          <img
            src="./assets/images/costly-ads-that-do-not-convert-enough@3x.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="big-media-card__body__content">
        <p class="FS-G-B-24-20">
          It's time to rediscover the power of tangible connections
        </p>
        <ul class="list">
          <li class="list__item">
            Advertising costs are skyrocketing, but click-through and conversion
            rates are plummeting
          </li>
          <li class="list__item">
            Consumers feel bombarded by constant digital ads and communication
          </li>
          <li class="list__item">
            Companies are spending more than ever on digital marketing, yet
            seeing diminishing returns
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END: (1st) Big Media Card -->
  <!-- (2nd) Big Media Card -->
  <div class="big-media-card">
    <header class="big-media-card__header">
      <h3 class="big-media-card__header__heading cap">
        <!-- cap will capitalize the text - for more see typography.css -->
        Email Marketing That Doesn't Convert
      </h3>
      <p>
        You've invested time and money to build your email list. But what
        happens next?
      </p>
    </header>
    <div class="big-media-card__body float-img-right">
      <div class="big-media-card__body__image">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./assets/images/email-marketing-that-does-not-convert.webp    1x,
              ./assets/images/email-marketing-that-does-not-convert@2x.webp 2x,
              ./assets/images/email-marketing-that-does-not-convert@3x.webp 3x
            "
          />
          <source
            type="image/jpg"
            srcset="
              ./assets/images/email-marketing-that-does-not-convert.jpg    1x,
              ./assets/images/email-marketing-that-does-not-convert@2x.jpg 2x,
              ./assets/images/email-marketing-that-does-not-convert@3x.jpg 3x
            "
          />
          <img
            src="./assets/images/email-marketing-that-does-not-convert@3x.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="big-media-card__body__content">
        <p class="FS-G-B-24-20">
          The result? Missed opportunities and wasted resources. Reach Your
          Ideal Customers Today!
        </p>
        <ul class="list">
          <li class="list__item">
            Email inboxes are overflowing with marketing messages
          </li>
          <li class="list__item">
            Email open rates and conversions are declining
          </li>
          <li class="list__item">
            Your carefully crafted messages get ignored in seconds or lost in
            the clutter of other emails
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END: (2nd) Big Media Card -->
  <!-- (3rd) Big Media Card -->
  <div class="big-media-card">
    <header class="big-media-card__header">
      <h3 class="big-media-card__header__heading cap">
        <!-- cap will capitalize the text - for more see typography.css -->
        The High Cost of Customer Churn
      </h3>
      <p>
        In today's digital age, customer loyalty is becoming a rare commodity.
        Brands are struggling to maintain repeat orders, while customers hop
        from one offer to the next.
      </p>
    </header>
    <div class="big-media-card__body">
      <div class="big-media-card__body__image">
        <picture>
          <source
            type="image/webp"
            srcset="
              ./assets/images/high-cost-of-customer-churn.webp    1x,
              ./assets/images/high-cost-of-customer-churn@2x.webp 2x,
              ./assets/images/high-cost-of-customer-churn@3x.webp 3x
            "
          />
          <source
            type="image/jpg"
            srcset="
              ./assets/images/high-cost-of-customer-churn.jpg    1x,
              ./assets/images/high-cost-of-customer-churn@2x.jpg 2x,
              ./assets/images/high-cost-of-customer-churn@3x.jpg 3x
            "
          />
          <img
            src="./assets/images/high-cost-of-customer-churn@3x.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="big-media-card__body__content">
        <p class="FS-G-B-24-20">
          Don't let your valuable customers slip away. Partner with The Postal
          Company to create lasting connections and drive repeat business for
          long-term profitability
        </p>
        <ul class="list">
          <li class="list__item">
            Businesses are spending fortunes on new customer acquisition,
            neglecting loyal customers
          </li>
          <li class="list__item">
            Repeat Purchase Rates (RPR) are at an all-time low
          </li>
          <li class="list__item">
            Customer loyalty and repeat purchase rates continue to decline
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- END: (3rd) Big Media Card -->
</section>
<!-- END-SECTION: PROBLEMS (.problems) -->
