<!-- SECTION: SOLUTIONS -->
<section id="solutions">
  <!-- SUB-SECTION: CTA (CALL TO ACTION) -->
  <section id="solution-cta" class="wrapper">
    <h2 class="cap">
      Boost Your Revenue, <br />
      Cut Your Costs
    </h2>
    <!-- (1st) CTA Media Card .primary -->
    <div class="cta-media-card primary">
      <div class="cta-media-card__image">
        <picture>
          <source
            type="image/webp"
            srcset="./assets/images/the-postal-company-post-card-solutions.webp"
          />
          <source
            type="image/jpg"
            srcset="./assets/images/the-postal-company-post-card-solutions.jpg"
          />
          <img
            src="./assets/images/the-postal-company-post-card-solutions.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="cta-media-card__content">
        <h3 class="cta-media-card__content__heading cap">
          The Postal Company's <br />
          Postcard Solution
        </h3>
        <p class="cta-media-card__content__text">
          With our unique approach, we specialize in crafting personalized,
          tangible connections with your customers through beautifully designed
          postcards.
        </p>
        <p class="cta-media-card__content__cta">
          Turn prospects into loyal customers with postcards that deliver
          results
        </p>
        <div class="cta-media-card__content__btn">
          <div class="btn-group">
            <button class="btn">
              Get Started
              <span class="icon-container round small primary">
                <svg class="icon">
                  <use href="./assets/icons/sprite.svg#long-arrow-right"></use>
                </svg>
              </span>
            </button>
            <button class="btn">
              Schedule a Call
              <span class="icon-container round small secondary">
                <svg class="icon">
                  <use href="./assets/icons/sprite.svg#call"></use>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END: (1st) CTA Media Card .primary -->
    <!-- (2nd) CTA Media Card .secondary -->
    <div class="cta-media-card secondary">
      <!-- Class="primary" sets background color to primary and image position to left -->
      <!-- Class="secondary" sets background color to secondary and image position to right -->
      <div class="cta-media-card__image">
        <picture>
          <source
            type="image/webp"
            srcset="./assets/images/post-card-marketing-benefits.webp"
          />
          <source
            type="image/jpg"
            srcset="./assets/images/post-card-marketing-benefits.jpg"
          />
          <img src="./assets/images/post-card-marketing-benefits.jpg" alt="" />
        </picture>
      </div>
      <div class="cta-media-card__content">
        <h3 class="cta-media-card__content__heading cap">
          Postcard Marketing Benefits
        </h3>
        <p class="cta-media-card__content__text">
          THE X FACTOR: By increasing the Repeat Purchase Rate (RPR) while
          cutting marketing costs, you'll boost revenue multiple times.
        </p>
        <p class="cta-media-card__content__cta">
          Remember, in business, it's not just about making sales—it's about
          creating customers for life. Let The Postal Company show you how.
        </p>
        <div class="cta-media-card__content__btn">
          <div class="btn-group">
            <button class="btn">
              Get Started
              <span class="icon-container round small primary">
                <svg class="icon">
                  <use href="./assets/icons/sprite.svg#long-arrow-right"></use>
                </svg>
              </span>
            </button>
            <button class="btn">
              Schedule a Call
              <span class="icon-container round small secondary">
                <svg class="icon">
                  <use href="./assets/icons/sprite.svg#call"></use>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- END: (2nd) CTA Media Card .secondary -->
  </section>
  <!-- SUB-SECTION: CUSTOMER RETENTION -->
  <section id="solution-customer-retention" class="wrapper">
    <h2 class="cap">
      Why Customer <br />
      Retention Matters
    </h2>
    <!-- Info Graphical Representation SVG Images -->
    <div class="info-graph-grid">
      <div class="info-graph-grid__card">
        <picture data-aos="">
          <source
            type="image/svg+xml"
            srcset="
              ./assets/images/new-customer-acquisition-vs-existing-customer-retention.svg
            "
          />
          <img
            src="./assets/images/new-customer-acquisition-vs-existing-customer-retention.svg"
            alt=""
          />
        </picture>
      </div>
      <div class="info-graph-grid__card">
        <picture data-aos="">
          <source
            type="image/svg+xml"
            srcset="./assets/images/profits-of-customer-retention.svg"
          />
          <img src="./assets/images/profits-of-customer-retention.svg" alt="" />
        </picture>
      </div>
      <div class="info-graph-grid__card">
        <picture data-aos="">
          <source
            type="image/svg+xml"
            srcset="./assets/images/repeat-vs-new-customer-revenue.svg"
          />
          <img
            src="./assets/images/repeat-vs-new-customer-revenue.svg"
            alt=""
          />
        </picture>
      </div>
    </div>
    <div class="btn-group">
      <button class="btn">
        Get Started
        <span class="icon-container round small primary">
          <svg class="icon">
            <use href="./assets/icons/sprite.svg#long-arrow-right"></use>
          </svg>
        </span>
      </button>
      <button class="btn">
        Schedule a Call
        <span class="icon-container round small secondary">
          <svg class="icon">
            <use href="./assets/icons/sprite.svg#call"></use>
          </svg>
        </span>
      </button>
    </div>
  </section>
  <!-- SUB-SECTION: CLIENT'S ACHIEVEMENT -->
  <div class="bg-pure-white" role="presentation">
    <section id="solution-clients-achievement" class="achievements wrapper">
      <header class="achievements__header">
        <h2 class="cap">
          What Our <br />
          Clients Achieve
        </h2>
        <p>
          Repeat customers are the backbone of sustainable business growth. By
          focusing on increasing your Repeat Purchase Rate (RPR) and reducing
          marketing expenses, you can maximize your marketing budget with
          targeted, high-impact campaigns at just a fraction of the cost
          compared to digital ad spend.
        </p>
        <div class="btn-group">
          <button class="btn">
            Get Started
            <span class="icon-container round small primary">
              <svg class="icon">
                <use href="./assets/icons/sprite.svg#long-arrow-right"></use>
              </svg>
            </span>
          </button>
          <button class="btn">
            Schedule a Call
            <span class="icon-container round small secondary">
              <svg class="icon">
                <use href="./assets/icons/sprite.svg#call"></use>
              </svg>
            </span>
          </button>
        </div>
      </header>
      <div class="media-card-grid">
        <div class="media-card">
          <div class="media-card__img">
            <span class="icon-container primary">
              <svg class="icon">
                <use href="./assets/icons/sprite.svg#dollar"></use>
              </svg>
            </span>
          </div>
          <div class="media-card__content">
            <p>Slash your marketing costs by at least 30%</p>
          </div>
        </div>
        <div class="media-card">
          <div class="media-card__img">
            <span class="icon-container secondary">
              <svg class="icon">
                <use href="./assets/icons/sprite.svg#increase"></use>
              </svg>
            </span>
          </div>
          <div class="media-card__content">
            <p>Increase average order value by 5 times</p>
          </div>
        </div>
        <div class="media-card">
          <div class="media-card__img">
            <span class="icon-container primary">
              <svg class="icon">
                <use href="./assets/icons/sprite.svg#repeat"></use>
              </svg>
            </span>
          </div>
          <div class="media-card__content">
            <p>Boost your Repeat Purchase Rate (RPR) by 3 times</p>
          </div>
        </div>
        <div class="media-card">
          <div class="media-card__img">
            <span class="icon-container secondary">
              <svg class="icon">
                <use href="./assets/icons/sprite.svg#cup"></use>
              </svg>
            </span>
          </div>
          <div class="media-card__content">
            <p>Achieve Return On Ad Spend (ROAS) as high as 11 times</p>
          </div>
        </div>
        <div class="media-card">
          <div class="media-card__img">
            <span class="icon-container primary">
              <svg class="icon">
                <use href="./assets/icons/sprite.svg#heart"></use>
              </svg>
            </span>
          </div>
          <div class="media-card__content">
            <p>Increase customer lifetime value through retention</p>
          </div>
        </div>
        <div class="media-card">
          <div class="media-card__img">
            <span class="icon-container secondary">
              <svg class="icon">
                <use href="./assets/icons/sprite.svg#referrals"></use>
              </svg>
            </span>
          </div>
          <div class="media-card__content">
            <p>Generate more referrals</p>
          </div>
        </div>
        <div class="media-card">
          <div class="media-card__img">
            <span class="icon-container primary">
              <svg class="icon">
                <use href="./assets/icons/sprite.svg#chart"></use>
              </svg>
            </span>
          </div>
          <div class="media-card__content">
            <p>Drive your top line and bottom line</p>
          </div>
        </div>
      </div>
      <!-- END: .media-card-grid -->
    </section>
  </div>
  <!-- END: SUB SECTION'S -->
</section>
<!-- END: SECTION SOLUTIONS (#solutions) -->
