<!-- SECTION: HERO & NAV -->
<div class="bg-primary" role="presentation">
  <header>
    <div class="wrapper">
      <nav class="nav collapsible">
        <div class="nav__logo">
          <img src="./assets/images/logo.svg" alt="The Postal Company Logo" />
        </div>
        <button class="nav__toggler">
          <svg class="nav__icon">
            <use href="./assets/icons/sprite.svg#menu"></use>
          </svg>
        </button>
        <div class="nav__menu collapsible__content">
          <ul class="nav__list">
            <li class="nav__list__item nav__active"><a href="">Home</a></li>
            <li class="nav__list__item"><a href="">Solutions</a></li>
            <li class="nav__list__item"><a href="">Pricing</a></li>
            <li class="nav__list__item">
              <button class="nav__button">Get Started</button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- END: .nav - wrapper -->
  </header>
  <section id="hero" class="hero">
    <div class="wrapper">
      <div class="plain-badge cap">
        Get Started Now - Send Your First Campaign
      </div>
      <h1 class="hero__heading cap">
        Postcards: Your New <br />
        Untapped Revenue Booster
      </h1>
      <p class="hero__message FS-S-N-18-16 cap">
        boost revenue while cutting marketing costs <br />
        keep connections alive through the power of direct mail
      </p>
      <p class="hero__cta FS-G-B-20-16 cap">
        unlock the power of direct mail marketing
      </p>
      <div class="btn-group">
        <button class="btn">
          Get Started
          <span class="icon-container round small primary">
            <svg class="icon">
              <use href="./assets/icons/sprite.svg#long-arrow-right"></use>
            </svg>
          </span>
        </button>
        <button class="btn">
          Schedule a Call
          <span class="icon-container round small secondary">
            <svg class="icon">
              <use href="./assets/icons/sprite.svg#call"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
    <!-- END: .hero - wrapper -->
    <!-- .hero__images not wrapped to span full width -->
    <div class="hero__images">
      <div class="hero__image__left">
        <picture>
          <source
            type="image/webp"
            srcset="./assets/images/postcards/glow-essence.webp"
          />
          <source
            type="image/jpg"
            srcset="./assets/images/postcards/glow-essence.jpg"
          />
          <img src="./assets/images/postcards/glow-essence.jpg" alt="" />
        </picture>
      </div>
      <div class="hero__image__center">
        <picture>
          <source
            type="image/webp"
            srcset="./assets/images/postcards/ethnicraft.webp"
          />
          <source
            type="image/jpg"
            srcset="./assets/images/postcards/ethnicraft.jpg"
          />
          <img src="./assets/images/postcards/ethnicraft.jpg" alt="" />
        </picture>
      </div>
      <div class="hero__image__right">
        <picture>
          <source
            type="image/webp"
            srcset="./assets/images/postcards/rangoli.webp"
          />
          <source
            type="image/jpg"
            srcset="./assets/images/postcards/rangoli.jpg"
          />
          <img src="./assets/images/postcards/rangoli.jpg" alt="" />
        </picture>
      </div>
    </div>
    <!-- END: .hero__images -->
  </section>
  <!-- END: <section> .hero -->
</div>
<!-- END-SECTION: HERO & NAV (.bg-primary) -->
