<!-- SECTION: INTRODUCTION -->
<section id="intro" class="intro wrapper">
  <div class="intro__content">
    <h2>
      Turn Postcards <br />
      into Profits
    </h2>
    <div class="intro__content__media-cards">
      <!-- media-card-grid component not used here, width being small and styling defers largely -->
      <div class="media-card">
        <div class="media-card__img">
          <span class="icon-container primary">
            <svg class="icon">
              <use href="./assets/icons/sprite.svg#dollar"></use>
            </svg>
          </span>
        </div>
        <div class="media-card__content">
          <p>Break Free from Skyrocketing Digital Ad Costs</p>
        </div>
      </div>
      <div class="media-card">
        <div class="media-card__img">
          <span class="icon-container secondary">
            <svg class="icon">
              <use href="./assets/icons/sprite.svg#email"></use>
            </svg>
          </span>
        </div>
        <div class="media-card__content">
          <p>Outperform Saturated Email Campaigns</p>
        </div>
      </div>
      <div class="media-card">
        <div class="media-card__img">
          <span class="icon-container secondary">
            <svg class="icon">
              <use href="./assets/icons/sprite.svg#customers"></use>
            </svg>
          </span>
        </div>
        <div class="media-card__content">
          <p>Reclaim Customer Loyalty with Tangible Marketing</p>
        </div>
      </div>
      <div class="media-card">
        <div class="media-card__img">
          <span class="icon-container primary">
            <svg class="icon">
              <use href="./assets/icons/sprite.svg#chart"></use>
            </svg>
          </span>
        </div>
        <div class="media-card__content">
          <p>Boost Your Revenue with Personalized Postcard Marketing</p>
        </div>
      </div>
    </div>
    <!-- END: .intro__content__grid -->
    <p class="FS-G-B-20-16">
      Discover the TPC Advantage - Start Your Campaign Now
    </p>
    <div class="btn-group">
      <button class="btn">
        Get Started
        <span class="icon-container round small primary">
          <svg class="icon">
            <use href="./assets/icons/sprite.svg#long-arrow-right"></use>
          </svg>
        </span>
      </button>
      <button class="btn">
        Schedule a Call
        <span class="icon-container round small secondary">
          <svg class="icon">
            <use href="./assets/icons/sprite.svg#call"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>
  <!-- END: .intro__content -->
  <div class="container--intro__images" role="presentation">
    <!-- container--intro__images used to keep .intro__images in center of grid -->
    <div class="intro__images">
      <div class="intro__images__img">
        <picture>
          <source
            type="image/webp"
            srcset="./assets/images/postcards/spice-route.webp"
          />
          <source
            type="image/jpg"
            srcset="./assets/images/postcards/spice-route.jpg"
          />
          <img src="./assets/images/postcards/spice-route.jpg" alt="" />
        </picture>
      </div>
      <div class="intro__images__img">
        <picture>
          <source
            type="image/webp"
            srcset="./assets/images/postcards/chai-box-front.webp"
          />
          <source
            type="image/jpg"
            srcset="./assets/images/postcards/chai-box-front.jpg"
          />
          <img src="./assets/images/postcards/chai-box-front.jpg" alt="" />
        </picture>
      </div>
      <div class="intro__images__img">
        <picture>
          <source
            type="image/webp"
            srcset="./assets/images/postcards/chai-box-back.webp"
          />
          <source
            type="image/jpg"
            srcset="./assets/images/postcards/chai-box-back.jpg"
          />
          <img src="./assets/images/postcards/chai-box-back.jpg" alt="" />
        </picture>
      </div>
    </div>
  </div>
  <!-- END: .intro__images -->
</section>
<!-- END-SECTION: INTRODUCTION (.intro) -->
