<div class="step-card">
  <span class="icon-container icon-secondary icon-container--round"> 02 </span>
  <p class="step-card__label FS-G-B-24-20">Consultation Call</p>
  <p>Receive a personal call from our design team within 24 hours</p>
  <ul class="list">
    <li class="list__item">Business hours: 10 AM to 05:00 PM</li>
    <li class="list__item">
      Orders placed before 4:30 PM receive's call same day
    </li>
    <li class="list__item">
      Orders Placed after 4:30 PM receive's call next business day
    </li>
  </ul>
  <p class="step-card__footer-notes">
    During this call, we'll discuss your design requirements and campaign goals
    in details
  </p>
</div>
