<!-- Form Submission Message -->
<div class="submission-message">
  <header class="submission-message__heading">Thank You</header>
  <p class="submission-message__caption">
    We will reach out to you as soon as possible...
  </p>
  <a href="/">
    <button class="btn small left-icon dark">
      Back
      <span class="icon-container round small primary">
        <svg class="icon">
          <use href="./assets/icons/sprite.svg#long-arrow-left"></use>
        </svg>
      </span>
    </button>
  </a>
</div>
