<!-- Table -->
<div class="table">
  <header class="table__heading FS-G-B-24-20 cap">
    Choose Your Campaign Size
  </header>
  <div class="table__row">
    <div class="table__cell">
      <div class="cell__label">Quantity</div>
      <div class="cell__data">500 - 1,000 cards</div>
    </div>
    <div class="table__cell">
      <div class="cell__label">Regular Price (₹)</div>
      <div class="cell__data">₹45 per card</div>
    </div>
    <div class="table__cell">
      <div class="cell__label">Introductory Offer (₹)</div>
      <div class="cell__data">₹40 per card</div>
    </div>
    <div class="table__cell">
      <div class="cell__label">Savings</div>
      <div class="cell__data">Save ₹2,500</div>
    </div>
  </div>
  <div class="table__row">
    <div class="table__cell">
      <div class="cell__label">Quantity</div>
      <div class="cell__data">1,000 - 1,500 cards</div>
    </div>
    <div class="table__cell">
      <div class="cell__label">Regular Price (₹)</div>
      <div class="cell__data">₹30 per card</div>
    </div>
    <div class="table__cell">
      <div class="cell__label">Introductory Offer (₹)</div>
      <div class="cell__data">₹25 per card</div>
    </div>
    <div class="table__cell">
      <div class="cell__label">Savings</div>
      <div class="cell__data">Save ₹5,000</div>
    </div>
  </div>
  <div class="table__row">
    <div class="table__cell">
      <div class="cell__label">Quantity</div>
      <div class="cell__data">1,500 cards & Above</div>
    </div>
    <div class="table__cell">
      <div class="cell__label">Regular Price (₹)</div>
      <div class="cell__data">₹20 per card</div>
    </div>
    <div class="table__cell">
      <div class="cell__label">Introductory Offer (₹)</div>
      <div class="cell__data">₹15 per card</div>
    </div>
    <div class="table__cell">
      <div class="cell__label">Savings</div>
      <div class="cell__data">Save ₹7,500</div>
    </div>
  </div>
</div>
