<div class="testimonial-card">
  <div class="testimonial-card__testimony">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa deserunt
      obcaecati nisi necessitatibus nobis natus.
    </p>
  </div>
  <div class="testimonial-card__author">
    <div class="testimonial-card__author-image">
      <img src="./assets/images/testmonial photos/jothi-lamba.jpeg" alt="" />
    </div>
    <div class="testimonial-card__author-details">
      <p class="testimonial-card__author-name">Jyoti Lamba</p>
      <p class="testimonial-card__author-designation">
        Marketing Director, Glow Essence Beauty
      </p>
    </div>
  </div>
</div>
